* {
  box-sizing: border-box;
  }

body {
  animation-duration: 5s;
  animation-name: fiesta;
  animation-iteration-count: 3;
  animation-delay: 15s;
  animation-direction:  alternate-reverse;
}

.contenedor {
  position: relative;
  height: 900px;
  background-color: transparent;
  width: 900px;
  margin: 0 auto;
  animation-duration: 10s;
  animation-name: caminar;
  animation-iteration-count: 2;
  animation-delay: 10s;
  animation-direction: normal;
}

  .cara {
    z-index: 10;
    position: relative;
    top: 100px;
    margin: auto;
    height: 300px;
    width: 300px;
    background-color: #cacaca;
    border-radius: 100%;
    border: 3px solid black;
  }

    .tapon {
      position: absolute;
        top: 250px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 50px;
        width: 144px;
        z-index: 11;
        background-color: #cacaca;
    }

    .mandibula {
      z-index: 9;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 100px;
      margin: auto;
      height: 100px;
      width: 150px;
      background-color: #cacaca;
      border-bottom-left-radius:  1em;
      border-bottom-right-radius: 1em;
      border: 3px solid black;
    }

      .diente-iz {
        position: absolute;
        top: 50px;
        left: 0;
        right: 50px;
        bottom: 0;
        margin: auto;
        height: 50px;
        width: 0px;
        z-index: 11;
        border: 2px solid black;
      }

      .diente-de {
        position: absolute;
        top: 50px;
        left: 50px;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 50px;
        width: 0px;
        z-index: 11;
        border: 2px solid black;
      }

    .ojos {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100px;
      width: 300px;
      margin: 0 auto;
      z-index: 11;
    }

      .ojo {
        border-radius: 50%;
        height: 100px;
        width: 90px;
        background-color: black;
        z-index: 12;
      }

      .ojo-iz {
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 145px;
        bottom: 0;
        z-index: 12;
        background-image: linear-gradient( 135deg, #00B7D4, #505488, #2F3F80, #161569, #5A4894, #FF7CAE);
        background-size: 500%;
        animation: siiin 10s infinite;
      }

      .ojo-de {
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 145px;
        right: 0;
        bottom: 0;
        z-index: 12;
        background-image: linear-gradient( 135deg, #00B7D4, #505488, #2F3F80, #161569, #5A4894, #FF7CAE);
        background-size: 500%;
         animation: siiin 10s infinite;
      }

        .pupila {
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          background-color: white;
          box-shadow: white 1px 1px 5px;
          z-index: 13;
        }

    .nariz{
      width: 0;
      height: 0;
      border-right: 25px solid transparent;
      border-bottom: 50px solid black;
      border-left: 25px solid transparent;
      margin: auto;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 14;
      }

  .torso {
    height: 300px;
    width: 300px;
    position: relative;
    top: 25px;
    margin: auto;
    z-index: 1;
  }

    .hueso-base {
      margin: auto;
      background-color: #cacaca;
      width: 60px;
      height: 200px;
      z-index: 2;
      border: 3px solid black;
    }

    .hueso-base-pegote {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 84px;
      background-color: #cacaca;
      width: 54px;
      height: 194px;
      z-index: 5;
    }


      .hueso-borde {
        position: absolute;
        
        background-color: #cacaca;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        z-index: 3;
        border: 3px solid black;
      }

      .hueso-ar-iz {
        position: absolute;
          top: -15px;
          left: -45px;
          right: 0;
          bottom: 0;
          margin: 0 auto;
          z-index: 4;
      }

      .hueso-ar-de {
        position: absolute;
          top: -15px;
          left: 0;
          right: -45px;
          bottom: 0;
          margin: 0 auto;
          z-index: 4;
      }

      .hueso-de-iz {
        position: absolute;
          top: 90px;
          left: 0;
          right: 45px;
          bottom: 0;
          margin: auto;
          z-index: 4;
      }

      .hueso-de-de {
        position: absolute;
          top: 90px;
          left: 45px;
          right: 0;
          bottom: 0;
          margin: auto;
          z-index: 4;
      }

    .articulacion {
       background-color: #cacaca;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        z-index: 3;
        border: 3px solid black;
        margin: auto;
    }

    .patas {
      position: absolute;
      top: 200px;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100px;
      width: 295px;
      margin:  auto;
      z-index: 6;
    }

      .pata-iz {
        background-color: gray;
        position: absolute;
        top: 0;
        left: 0;
        right: 125px;
        bottom: 0;
        width: 100px;
        height: 50px;
        border-top-left-radius: 50px;
        z-index: 6;
        border: 3px solid black;
        margin: auto;
        animation-duration: 2s;
        animation-name: patas;
        animation-iteration-count: 10;
        animation-delay: 10s;
        animation-direction: reverse;
      }

      .pata-de {
        background-color: gray;
        position: absolute;
        top: 0;
        left: 125px;
        right: 0;
        bottom: 0;
        width: 100px;
        height: 50px;
        border-top-right-radius: 50px;
        z-index: 6;
        border: 3px solid black;
        margin: auto;
        animation-duration: 2s;
        animation-name: patas;
        animation-iteration-count: 10;
        animation-delay: 10s;
        animation-direction: normal;
      }

    .logo-iz {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 10px;
      width: 50px;
      height: 70px;
    }

    .logo-de {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 10px;
      width: 50px;
      height: 70px;
      transform: scaleX(-1);
    }

    .naik {
      width: 22px;
      height: 44px;
      border-radius: 40px 40px 0 0;
      background-color: white; 
      position: relative;
      transform: rotate(240deg);
      margin: 20px; 
    }

    .niak {
      width: 22px;
      height: 44px;
      border-radius: 40px 40px 0 0;
      background-color: gray; 
      position: absolute;
      top: 7px;
      left: 3px;
      transform: rotate(10deg);
    }

.jumscare {
  background-color: transparent;
  height: 384px;
  width: 649px;
  position: absolute;
  margin: auto;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-duration: 2s;
  animation-name: bromita;
  animation-iteration-count: 1;
  opacity: 0%;
  animation-delay: 5s;
  animation-direction: normal;
}

.tumba {
  background-color: rgb(109, 109, 109);
  height: 850px;
  width: 600px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  margin: auto;
  z-index: 101;
  opacity: 0%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-duration: 4s;
  animation-name: caja;
  animation-iteration-count: 1;
  animation-direction: normal;
  z-index: 1000;
}

  .tumba-base {
    background-color: rgb(26, 26, 26);
    margin: 0 auto;
    height: 100px;
    width: 700px;
    position: absolute;
    top: 750px;
    left: -50px;
    right: 0;
    bottom: 0;
    z-index: 1001;
  }

  .dead {
    background-color: transparent;
    margin: auto;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 200px;
    z-index: 1001;
    font-size: 5em;
    text-align: center;
    color: white;
  }

  .tumba-1 {
    animation-duration: 4s;
    animation-name: e-lobby;
    animation-iteration-count: 1;
    animation-delay: 31s;
    animation-direction: normal;
  }

  .tumba-2 {
    animation-duration: 5s;
    animation-name: e-lobby;
    animation-iteration-count: infinite;
    animation-delay: 35s;
    animation-direction: normal;
  }


@keyframes bromita {
  0% {
    opacity: 0%;
    scale: 100%;
  }

  20% {
    opacity: 100%;
  }

  30% {
    scale: 100%;
  }
  
  98% {
    scale: 1000%;
  }

  99% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    scale: 5000%;
  }

}

@keyframes siiin {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  } 
}

@keyframes patas {
  0% {
    top: 0px;
  }

  25% {
    top: 25px;
  }

  50% {
    top: 0px;
  }

  75%{
    bottom: 25px;
  }

  100% {
    bottom: 0px;
  }
}

@keyframes caminar {
  0% {
    left: 0px;
  }

  25% {
    left: 500px;
  }

  50% {
    left: 0px;
  }
  

  75%{
    left: -500px;
  }

  100% {
    left: 0px;
  }
}

@keyframes caja {
  0% {
    opacity: 100%;
  }

  80% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes fiesta {
  0% {
    background-color: white;
  }

  10% {
    background-color: aqua;
  }
  
  20% {
    background-color: aquamarine;
}

  30% {
    background-color: blue;
  }

  40% {
    background-color: pink;
  }

  50% {
    background-color: darkcyan;
  }

  60% {
    background-color: green;
  }

  70% {
    background-color: purple;
  }

  80% {
    background-color: crimson;
  }

  90% {
    background-color: red;
  }

  100% {
    background-color: orange;
  }
}

@keyframes e-lobby {
  0% {
    opacity: 0%;
  }

  80% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }

}

@keyframes lobby {
  0% {
    opacity: 100%;
  }

  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }

}